<!DOCTYPE html>
<html translate="no">
  <head>
    <title>LiteWatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="LiteWatch" />
    <meta property="og:type" content="Website" />
    <meta property="og:image" content="https://www.lite.watch<%= asset_path('lw_preview.png') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="Platform for sharing and reacting to videos" />
    <meta name="author" content="Mark Swan" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'entry' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script>
      $(function() {
        // always pass csrf tokens on ajax calls
        $.ajaxSetup({
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
        });
      });
    </script>
    <script src="https://kit.fontawesome.com/2401818e79.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
