<!DOCTYPE html>
<html>
  <head>
    <title>FeatureMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'entry' %>
    <script>
      $(function() {
        // always pass csrf tokens on ajax calls
        $.ajaxSetup({
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
        });
      });
    </script>
    <script src="https://kit.fontawesome.com/2401818e79.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
